*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

padding:60px;
background:white;

}

.wrapper{

display:flex;
gap:120px;

}

.comparison{

display:flex;
gap:70px;

}

.grid{

display:grid;
gap:8px;
margin-bottom:15px;

}

.grid30{

grid-template-columns:repeat(6,24px);

}

.grid12{

grid-template-columns:repeat(6,24px);

}

.square{

width:20px;
height:20px;
border-radius:4px;

}

.gray .square{

background:#6E6E6E;

}

.red .square{

background:#E10600;

}

p{

margin-top:12px;
font-size:18px;

line-height:1.4;

}